In [4]:
import pandas as pd

df = pd.read_csv('/workspaces/linkedin-profile-classifier/Test Data - Classified.csv')
df

,First Name,Profile Type,LinkedIn URL,profile type
0,Benjamin,Board Member / Private Investor,https://linkedin.com/in/benmah,NaN

In [1]:
# Make sure your environment has LANGCHAIN_API_KEY set

from langsmith import Client

client = Client()

# Replace with your actual run ID from LangSmith
run_id = "runid"

# Update the run status to "aborted" (equivalent to stopping it)
client.update_run(run_id="b9b62dbd-9a9d-4e03-95a5-0231a7e0437b", status="aborted")

In [3]:
df = pd.read_csv('/workspaces/linkedin-profile-classifier/src/data/Test Data.csv')
df

   First Name  Profile Type                                       LinkedIn URL
0    Benjamin           NaN                     https://linkedin.com/in/benmah
1        Hani           NaN   https://www.linkedin.com/in/hani-baramki-1406335
2       Régis           NaN          https://www.linkedin.com/in/regiscazenave
3       Marco           NaN           https://www.linkedin.com/in/marcocaronna
4    Frédéric           NaN      https://www.linkedin.com/in/frederic-queudret
5        Alex           NaN             https://www.linkedin.com/in/avassilev1
6        Rémi           NaN  https://www.linkedin.com/in/r%C3%A9mi-quintin-...
7    Matthieu           NaN    https://www.linkedin.com/in/matthieu-side-side/
8        Lars           NaN             https://www.linkedin.com/in/larsrossen
9   Guillaume           NaN  https://www.linkedin.com/in/guillaume-rodenas-...
10      Julia           NaN    https://www.linkedin.com/in/julia-grab-879a4844
11      Marie           NaN  https://www.linkedin.com/in/marie-renaudin-058...
12      Sunil           NaN     https://www.linkedin.com/in/sunil-dutt-3649821
13     Simone           NaN  https://www.linkedin.com/in/simone-pezzoli-emb...

In [ ]:
df.iloc[2, df.columns.get_loc('LinkedIn URL')]

'https://www.linkedin.com/in/regiscazenave'

'https://www.linkedin.com/in/regiscazenave'

In [24]:
import json

# Build the data payload dynamically from your df
data = json.dumps({
    "input": [{"url": u} for u in df["LinkedIn URL"].dropna()]
})
data

'{"input": [{"url": "https://linkedin.com/in/benmah"}, {"url": "https://www.linkedin.com/in/hani-baramki-1406335"}, {"url": "https://www.linkedin.com/in/regiscazenave"}, {"url": "https://www.linkedin.com/in/marcocaronna"}, {"url": "https://www.linkedin.com/in/frederic-queudret"}, {"url": "https://www.linkedin.com/in/avassilev1"}, {"url": "https://www.linkedin.com/in/r%C3%A9mi-quintin-a933a91"}, {"url": "https://www.linkedin.com/in/matthieu-side-side/"}, {"url": "https://www.linkedin.com/in/larsrossen"}, {"url": "https://www.linkedin.com/in/guillaume-rodenas-12178b7a/"}, {"url": "https://www.linkedin.com/in/julia-grab-879a4844"}, {"url": "https://www.linkedin.com/in/marie-renaudin-058aa650/"}, {"url": "https://www.linkedin.com/in/sunil-dutt-3649821"}, {"url": "https://www.linkedin.com/in/simone-pezzoli-emba-29a28014"}]}'

In [10]:
import json
import pandas as pd

# Keep only relevant fields from 'profile details'
keep_keys = ['about', 'experience', 'header', 'headline']

def extract_relevant_details(profile_json):
    if pd.isna(profile_json):  # skip empty rows
        return None
    try:
        data = json.loads(profile_json) if isinstance(profile_json, str) else profile_json
        return {k: data.get(k) for k in keep_keys if k in data}
    except Exception as e:
        print(f"Error parsing row: {e}")
        return None

# Apply extraction
df['profile details cleaned'] = df['profile details'].apply(extract_relevant_details)

# Optional: preview the cleaned output for first rows
print(df['profile details cleaned'].head().to_list())

[{'about': 'With over 30 years of distinguished professional experience, Dr. Benjamin Mah is a…', 'experience': [{'title': 'SparksBM Investment', 'description_html': None, 'company': 'SparksBM Investment', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D560BAQERDFjlN97sbQ/company-logo_100_100/B56ZnbMsIIKMAQ-/0/1760319161331?e=2147483647&v=beta&t=gv4dPzmePpYtL1JP627ikmTO5FZqoHO_ERW3vE3LkEY'}, {'description_html': None, 'company_logo_url': 'https://media.licdn.com/dms/image/v2/C560BAQGALfsU_zVVfA/company-logo_100_100/company-logo_100_100/0/1630589450539/atlas_ventures_logo?e=2147483647&v=beta&t=S0wF0pgKGiarGFg_H71jXhzujePJq0q0hURqULXbvTE'}, {'description_html': None, 'company_logo_url': 'https://media.licdn.com/dms/image/v2/C510BAQHC9es3oxjWKw/company-logo_100_100/company-logo_100_100/0/1631317759931?e=2147483647&v=beta&t=e1Uq8dmCFmBFLxfaSJ_q6FNLZutm9Ihzi_4-WZUoYJ8'}, {'description_html': None, 'duration': '2021 - 2022', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D4E0BAQE3AUmnnxnKSg/company-logo_100_100/B4EZfv3Io8HgAg-/0/1752075897789/imperial_business_school_logo?e=2147483647&v=beta&t=2jBZstbmI4TETwsVLLpFKwmvTahkfKm-MIHpvtMxs2Y'}, {'description_html': None, 'duration': '2023 - 2025', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D560BAQGhD2BcLDjucQ/company-logo_100_100/company-logo_100_100/0/1736163030573/eimt_ch_logo?e=2147483647&v=beta&t=5FVaGSLfY_9pjAdCHY5yk4Z65Mr-OhKUumd0T1Maoao'}]}, {}, {}, {}, {'experience': [{'title': 'Operating Executive - Portfolio CTO', 'description': "-\tLeading tech due diligence on targets' stack, roadmap, talent, and vision\n\n-\tHelping shape and implement value creation plans across product, architecture, AI, cloud, and cybersecurity\n\n-\tCoaching CTOs and tech leaders across the portfolio, enhancing R&D and innovation capabilities\n\n-\tSupporting cloud migrations, SaaS strategies, and AI adoption at both operational and product levels", 'description_html': '- Leading tech due diligence on targets&apos; stack, roadmap, talent, and vision <br> - Helping shape and implement value creation plans across product, architecture, AI, cloud, and cybersecurity <br> - Coaching CTOs and tech leaders across the portfolio, enhancing R&amp;D and innovation capabilities <br> - Supporting cloud migrations, SaaS strategies, and AI adoption at both operational and product levels <!---->', 'start_date': 'May 2025', 'end_date': 'Present', 'company': 'The Carlyle Group', 'company_id': 'the-carlyle-group', 'url': 'https://www.linkedin.com/company/the-carlyle-group', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D4E0BAQG1ssN1ZeOs3A/company-logo_100_100/company-logo_100_100/0/1688681748905/the_carlyle_group_logo?e=2147483647&v=beta&t=fF1YNL36y3vtFDPlxdo-mHxTJ6VND54LB00NBBE8hME'}, {'title': 'Entrepreneur', 'description_html': None, 'start_date': 'Sep 2024', 'end_date': 'Present', 'company': 'MesServicesIA.com', 'company_logo_url': 'https://static.licdn.com/aero-v1/sc/h/cs8pjfgyw96g44ln9r7tct85f'}, {'title': 'Chief AI & Technology Officer, Executive Team Member', 'location': 'France', 'description': 'Acolad is an international leader in language content solutions, services and technologies. We are represented by 2,000 valued employees, spread across 45 offices in 25 countries all over the world.\n\n"We turn content into value across languages"\n\n• Responsible for the AI & Technology strategy for the group\n\n• Leading the Tech department of 80 persons, Agile methodology, roadmaps and continuous delivery in place\n\n• Delivering products to our customers and internal product teams: Acolad Portal, Connectivity, TMS, Acolad Live, AI MT Engines...', 'description_html': 'Acolad is an international leader in language content solutions, services and technologies. We are represented by 2,000 valued employees, spread across 45 offices in 25 countries all over the world. <br> &quot;We turn content into value across languages&quot; <br> &#x2022; Responsible for the AI &amp; Technology strategy for the group <br> &#x2022; Leading the Tech department of 80 persons, Agile methodology, roadmaps and continuous delivery in place <br> &#x2022; Delivering products to our customers and internal product teams: Acolad Portal, Connectivity, TMS, Acolad Live, AI MT Engines...', 'start_date': 'Nov 2021', 'end_date': 'Jul 2024', 'company': 'Acolad Group', 'company_id': 'acolad-group', 'url': 'https://fr.linkedin.com/company/acolad-group', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D560BAQEsyGXSHrtCzQ/company-logo_100_100/company-logo_100_100/0/1719256389192/acolad_group_logo?e=2147483647&v=beta&t=C4qbRJD4oiMKOg1-dYdnisspko7yYKZPBt841sIqJFE'}, {'title': 'Senior Director Engineering, International', 'location': 'Région de Paris, France', 'description': 'DocuSign helps organizations connect and automate how they prepare, sign, act-on, and manage agreements. As part of our cloud-based System of Agreement Platform, DocuSign offers eSignature—the world’s #1 way to sign electronically on practically any device, from almost anywhere, at any time. Today, more than 425,000 customers and hundreds of millions of users in over 180 countries use DocuSign to accelerate the process of doing business and to simplify people’s lives.\n\n• Responsible of 3 engineering teams / 40 persons based in Paris and Seattle: Identity, Digital Signing Engine (EIDAS compliant) and Globalization teams\n\n• Proof of concepts on: 1- Digital signatures in a post-quantum world, 2- Identity checks based on AI', 'description_html': 'DocuSign helps organizations connect and automate how they prepare, sign, act-on, and manage agreements. As part of our cloud-based System of Agreement Platform, DocuSign offers eSignature&#x2014;the world&#x2019;s #1 way to sign electronically on practically any device, from almost anywhere, at any time. Today, more than 425,000 customers and hundreds of millions of users in over 180 countries use DocuSign to accelerate the process of doing business and to simplify people&#x2019;s lives. <br> &#x2022; Responsible of 3 engineering teams / 40 persons based in Paris and Seattle: Identity, Digital Signing Engine (EIDAS compliant) and Globalization teams <br> &#x2022; Proof of concepts on: 1- Digital signatures in a post-quantum world, 2- Identity checks based on AI', 'start_date': 'Jul 2019', 'end_date': 'Oct 2021', 'company': 'DocuSign', 'company_id': 'docusign', 'url': 'https://www.linkedin.com/company/docusign', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/D560BAQFJh4R0ibULEg/company-logo_100_100/company-logo_100_100/0/1712837162469/docusign_logo?e=2147483647&v=beta&t=Y-f3Qq3iOXvWBwbXRkBZlDyiYso6ADqLFZ_f5hsk1i8'}, {'title': 'CTO / VP of Software Quality / Engineering / Innovation, member of the Executive Committee', 'location': 'Tours & Lyon', 'description': "I'Car Systems & Datafirst is a group of ISVs that develop, sale & deploy ERP & digital solutions for car dealerships (Dealer Management System). The group works closely with partners (IT Motive, AMS...) to sell products over +12 countries in Europe. Sales revenue in 2018: +30m €, 300 employees.\n\n• Head of the Products, R&D/QA, Support et Technical divisions (+170 employees) delivering & supporting all the products (DMSs, CRM, BI, managed Services)\n\n• Defined the technical prospective (Cloud Scalable Services, API, AI & Data...) to support the business strategy", 'description_html': 'I&apos;Car Systems &amp; Datafirst is a group of ISVs that develop, sale &amp; deploy ERP &amp; digital solutions for car dealerships (Dealer Management System). The group works closely with partners (IT Motive, AMS...) to sell products over +12 countries in Europe. Sales revenue in 2018: +30m &#x20AC;, 300 employees. <br> &#x2022; Head of the Products, R&amp;D/QA, Support et Technical divisions (+170 employees) delivering &amp; supporting all the products (DMSs, CRM, BI, managed Services) <br> &#x2022; Defined the technical prospective (Cloud Scalable Services, API, AI &amp; Data...) to support the business strategy', 'start_date': 'May 2017', 'end_date': 'Jun 2019', 'company': "I'Car Systems & Datafirst", 'company_logo_url': 'https://static.licdn.com/aero-v1/sc/h/cs8pjfgyw96g44ln9r7tct85f'}, {'title': 'Group Technical Director, member of the extended Board of Directors', 'location': 'France', 'description': 'Cegid Group is a european leader in SaaS for business management software, and related goods and services in France and internationally. It serves the finance, taxation, human resources, accounting profession, retail, manufacturing, services, trade, and public sectors, as well as entrepreneurs and small businesses. (+2000 employees, sales revenue for 2016: +300m €)\n\n• Head of +30 experts in software architecture, development, IT/Cloud & Dev tools involved transversally in many projects for the group\n\n• Involved in prospective research on blockchain, AI chatbots, ...  \n\n• Coached start-ups members of Cegid Foundation with the partnership of EM Lyon\n\n• Involved in M&As', 'description_html': 'Cegid Group is a european leader in SaaS for business management software, and related goods and services in France and internationally. It serves the finance, taxation, human resources, accounting profession, retail, manufacturing, services, trade, and public sectors, as well as entrepreneurs and small businesses. (+2000 employees, sales revenue for 2016: +300m &#x20AC;) <br> &#x2022; Head of +30 experts in software architecture, development, IT/Cloud &amp; Dev tools involved transversally in many projects for the group <br> &#x2022; Involved in prospective research on blockchain, AI chatbots, ... <br> &#x2022; Coached start-ups members of Cegid Foundation with the partnership of EM Lyon <br> &#x2022; Involved in M&amp;As', 'start_date': 'Jan 2016', 'end_date': 'Apr 2017', 'company': 'Cegid Group', 'company_id': 'cegid', 'url': 'https://fr.linkedin.com/company/cegid', 'company_logo_url': 'https://media.licdn.com/dms/image/v2/C560BAQGOvAwW4r8ysQ/company-logo_100_100/company-logo_100_100/0/1631434861765/cegid_logo?e=2147483647&v=beta&t=IP_RqBRpL0fj5itfIgUilsKTc9hi1bnBPnmOOiazbf0'}, {'title': 'ALTAVEN', 'location': 'Paris', 'description_html': None, 'duration': '7 years 4 months', 'positions': [{'subtitle': 'ALTAVEN', 'meta': 'Jan 2014 - Apr 2015 1 year 4 months', 'description': 'Altaven is a software vendor dedicated to tax management for large French holdings (95% of CAC 40, +200 customers, +15000 end-users, Sales in 2014: 4920k€). Provided global strategic guidance to the founders since the starting up of the company in 2008. Technology lead for the company. • In the management team: Defined the annual objectives of the company, planned & controlled the execution of the IT strategy under numerous aspects (security, quality, SaaS, innovation…). • Co-leader of the roadmap and the Product Group (approximately 15 people) with the President. • Lead for the iterative innovation strategy (codename “Big Switch”) to deliver an online world-wide full new Tax Management System (Cloud multi-tenant platform, interoperable APIs). • Involved in critical projects of the Company, improved level of Customer confidence in products quality. • Moved the working processes towards “DevOps” concepts. • Involved in key partnership programs.', 'start_date': 'Jan 2014', 'end_date': 'Apr 2015', 'title': 'CTO / Deputy Managing Director - Innovation, Research and Development, Executive Committee member', 'description_html': 'Altaven is a software vendor dedicated to tax management for large French holdings (95% of CAC 40, +200 customers, +15000 end-users, Sales in 2014: 4920k&#x20AC;). Provided global strategic guidance to the founders since the starting up of the company in 2008. Technology lead for the company. <br> &#x2022; In the management team: Defined the annual objectives of the company, planned &amp; controlled the execution of the IT strategy under numerous aspects (security, quality, SaaS, innovation&#x2026;). <br> &#x2022; Co-leader of the roadmap and the Product Group (approximately 15 people) with the President. <br> &#x2022; Lead for the iterative innovation strategy (codename &#x201C;Big Switch&#x201D;) to deliver an online world-wide full new Tax Management System (Cloud multi-tenant platform, interoperable APIs). <br> &#x2022; Involved in critical projects of the Company, improved level of Customer confidence in products quality. <br> &#x2022; Moved the working processes towards &#x201C;DevOps&#x201D; concepts. <br> &#x2022; Involved in key partnership programs.', 'location': 'Paris'}, {'subtitle': 'ALTAVEN', 'meta': 'Jan 2008 - Dec 2013 6 years', 'description': '• Built the software factory and introduced Agile methodology to guarantee the delivery of functional and technical upgrades every 3 months. • Delivered 100% of features on time. • Recruited and managed the technical staff: 36 subcontractors, 13 employees over 5 years. • Managed the partnership with Microsoft and successfully achieved the “Gold ISV” certification.', 'start_date': 'Jan 2008', 'end_date': 'Dec 2013', 'title': 'Acting CTO, at the same time as Mpoware', 'description_html': '&#x2022; Built the software factory and introduced Agile methodology to guarantee the delivery of functional and technical upgrades every 3 months. <br> &#x2022; Delivered 100% of features on time. <br> &#x2022; Recruited and managed the technical staff: 36 subcontractors, 13 employees over 5 years. <br> &#x2022; Managed the partnership with Microsoft and successfully achieved the &#x201C;Gold ISV&#x201D; certification. <!---->', 'location': 'Paris Area, France'}], 'company': 'ALTAVEN', 'company_logo_url': None}, {'title': 'CTO (Founder)', 'location': 'Paris Area, France', 'description': 'Started up the business of the software activity during 3 years. Obtained the “Young Innovative Company” (JEI) and the “Research & development tax credit” agreements. Created a software platform dedicated to build Cloud applications for international project teams (Project codename “CKlone”). Terminated the R&D project in 2011. Refocused 100% activity towards consulting and services.\n\n•\tRecruited and managed the team.\n\n•\tDesigned, planned and developed the first CKlone prototype.\n\n•\tLaunched the first public beta product during Microsoft TechDays 2010 (+10k guests).\n\n•\tTechnical demonstrations of the beta product in front of multiple audiences (avg. 100 persons per session).\n\n•\tProduct marketing and communication through newsletters, social networks, press releases, goodies.\n\n•\tDeveloped the business through services offerings: Agile coaching, Agile development workshops, code review, technical expertise on Microsoft technologies and UI design.\n\n•\tPublished press articles on topics such as Cloud computing, security and Agile methodologies.', 'description_html': 'Started up the business of the software activity during 3 years. Obtained the &#x201C;Young Innovative Company&#x201D; (JEI) and the &#x201C;Research &amp; development tax credit&#x201D; agreements. Created a software platform dedicated to build Cloud applications for international project teams (Project codename &#x201C;CKlone&#x201D;). Terminated the R&amp;D project in 2011. Refocused 100% activity towards consulting and services. <br> &#x2022; Recruited and managed the team. <br> &#x2022; Designed, planned and developed the first CKlone prototype. <br> &#x2022; Launched the first public beta product during Microsoft TechDays 2010 (+10k guests). <br> &#x2022; Technical demonstrations of the beta product in front of multiple audiences (avg. 100 persons per session). <br> &#x2022; Product marketing and communication through newsletters, social networks, press releases, goodies. <br> &#x2022; Developed the business through services offerings: Agile coaching, Agile development workshops, code review, technical expertise on Microsoft technologies and UI design. <br> &#x2022; Published press articles on topics such as Cloud computing, security and Agile methodologies.', 'start_date': 'Jan 2008', 'end_date': 'Dec 2013', 'company': 'MPOWARE', 'company_logo_url': 'https://static.licdn.com/aero-v1/sc/h/cs8pjfgyw96g44ln9r7tct85f'}, {'title': 'Microsoft', 'location': 'Paris Area, France', 'description_html': None, 'duration': '7 years 4 months', 'positions': [{'subtitle': 'Microsoft', 'meta': 'Jul 2005 - Dec 2007 2 years 6 months', 'description': 'The MTC Paris is dedicated to strategic customers of Microsoft in order to guarantee the technical choices and designs made for projects by an MTC Architect responsible to design solutions and coordinate partners and FTEs through 3 steps: strategy briefing, architecture design session and prototype. • Delivered 30 architecture design sessions per year. • Delivered 20 prototypes per year. • Technical review of 30 start-ups, sponsored by Microsoft to be part of the BizSpark / Idees program. • Influenced annual revenue > €1M. • Kept a high level of customer satisfaction.', 'start_date': 'Jul 2005', 'end_date': 'Dec 2007', 'title': 'Solutions Architect - Microsoft Technology Center', 'description_html': 'The MTC Paris is dedicated to strategic customers of Microsoft in order to guarantee the technical choices and designs made for projects by an MTC Architect responsible to design solutions and coordinate partners and FTEs through 3 steps: strategy briefing, architecture design session and prototype. <br> &#x2022; Delivered 30 architecture design sessions per year. <br> &#x2022; Delivered 20 prototypes per year. <br> &#x2022; Technical review of 30 start-ups, sponsored by Microsoft to be part of the BizSpark / Idees program. <br> &#x2022; Influenced annual revenue &gt; &#x20AC;1M. <br> &#x2022; Kept a high level of customer satisfaction.', 'location': 'Paris Area, France'}, {'subtitle': 'Microsoft', 'meta': 'Jul 2001 - Jun 2005 4 years', 'description': 'MCS has a hundred of consultants mastering Microsoft technologies. Missions go from deep technical expertise to management of strategic projects. • Delivered 30 projects per year, some internationally (Denmark, Mauritius Island). • Managed teams up to 15 persons. • Worked for noteworthy customers: Air Mauritius, Mauritius Commercial Bank, SGCIB, L’Oreal, Bank of France, Securitas, Danish Government, FNAC, PSA/Citroën and AXA. • Rated best FY06 employee of the MCS department.', 'start_date': 'Jul 2001', 'end_date': 'Jun 2005', 'title': 'Senior Consultant - Services Division', 'description_html': 'MCS has a hundred of consultants mastering Microsoft technologies. Missions go from deep technical expertise to management of strategic projects. <br> &#x2022; Delivered 30 projects per year, some internationally (Denmark, Mauritius Island). <br> &#x2022; Managed teams up to 15 persons. <br> &#x2022; Worked for noteworthy customers: Air Mauritius, Mauritius Commercial Bank, SGCIB, L&#x2019;Oreal, Bank of France, Securitas, Danish Government, FNAC, PSA/Citro&#xEB;n and AXA. <br> &#x2022; Rated best FY06 employee of the MCS department. <!---->', 'location': 'France'}, {'subtitle': 'Microsoft', 'meta': 'Sep 2000 - Jun 2001 10 months', 'description': '• Speaker at multiple national technical conferences, and for instance the first .NET conference held in Paris with 2000 attendees and the remarkable presence of Bill Gates. • Managed 30 Independent Software Vendors & Start-ups.', 'start_date': 'Sep 2000', 'end_date': 'Jun 2001', 'title': 'Developer Relations Group - DX Division', 'description_html': '&#x2022; Speaker at multiple national technical conferences, and for instance the first .NET conference held in Paris with 2000 attendees and the remarkable presence of Bill Gates. <br> &#x2022; Managed 30 Independent Software Vendors &amp; Start-ups. <!---->', 'location': 'France'}], 'company': 'Microsoft', 'company_id': 'microsoft', 'url': 'https://www.linkedin.com/company/microsoft?trk=public_profile_experience-group-header', 'company_logo_url': None}, {'title': 'IT Consult

In [11]:
# Expand the cleaned dicts into separate columns
df_expanded = df.join(pd.json_normalize(df['profile details cleaned']))

In [12]:
df_expanded

,First Name,Profile Type,LinkedIn URL,profile details,profile details cleaned,about,experience
0,Benjamin,NaN,https://linkedin.com/in/benmah,"{""id"":""benmah"",""name"":""Dr. Benjamin Mah"",""city...",{'about': 'With over 30 years of distinguished...,With over 30 years of distinguished profession...,"[{'title': 'SparksBM Investment', 'description..."
1,Hani,NaN,https://www.linkedin.com/in/hani-baramki-1406335,"{""snapshot_id"":""s_mhcep7p9ia34kuu8a"",""message""...",{},NaN,NaN
2,Régis,NaN,https://www.linkedin.com/in/regiscazenave,"{""snapshot_id"":""sd_mhceqiep1w5p8g96h8"",""messag...",{},NaN,NaN
3,Marco,NaN,https://www.linkedin.com/in/marcocaronna,"{""snapshot_id"":""s_mhcert3fgk3ynyq57"",""message""...",{},NaN,NaN
4,Frédéric,NaN,https://www.linkedin.com/in/frederic-queudret,"{""id"":""frederic-queudret"",""name"":""Frédéric Que...",{'experience': [{'title': 'Operating Executive...,NaN,[{'title': 'Operating Executive - Portfolio CT...
5,Alex,NaN,https://www.linkedin.com/in/avassilev1,"{""snapshot_id"":""sd_mhcetng018pzo5qpqf"",""messag...",{},NaN,NaN
6,Rémi,NaN,https://www.linkedin.com/in/r%C3%A9mi-quintin-...,"{""snapshot_id"":""sd_mhceuy6z7vov6x2ml"",""message...",{},NaN,NaN
7,Matthieu,NaN,https://www.linkedin.com/in/matthieu-side-side/,"{""snapshot_id"":""sd_mhcew8xv13qawlcbv7"",""messag...",{},NaN,NaN
8,Lars,NaN,https://www.linkedin.com/in/larsrossen,"{""snapshot_id"":""sd_mhcexjon2r2wfuzwvt"",""messag...",{},NaN,NaN
9,Guillaume,NaN,https://www.linkedin.com/in/guillaume-rodenas-...,"{""snapshot_id"":""sd_mhceyuimupvpe3kbs"",""message...",{},NaN,NaN
10,Julia,NaN,https://www.linkedin.com/in/julia-grab-879a4844,"{""snapshot_id"":""sd_mhcf05922a0qgnzbeu"",""messag...",{},NaN,NaN
11,Marie,NaN,https://www.linkedin.com/in/marie-renaudin-058...,"{""snapshot_id"":""sd_mhcf1g1o2hvyvh6xku"",""messag...",{},NaN,NaN
12,Sunil,NaN,https://www.linkedin.com/in/sunil-dutt-3649821,"{""snapshot_id"":""s_mhcf2qr92lxhpumnj"",""message""...",{},NaN,NaN
13,Simone,NaN,https://www.linkedin.com/in/simone-pezzoli-emb...,"{""snapshot_id"":""s_mhcf41gjtpux1hg5n"",""message""...",{},NaN,NaN